# Enforce LF for shell scripts and other code files to avoid CRLF warnings on Windows
Env/*/user-data.sh text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.tf text eol=lf
*.md text eol=lf

# Ensure binary files are not treated as text
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary